.testimonial {
    position: relative;
    padding: 132px 0 100px;

    @media (max-width: $md2+px) {
        padding: 139px 0 95px;
    }

    @media (max-width: $md3+px) {
        padding-top: 0;
        padding-bottom: 297px;
        background-color: #29322f;
    }

    &__images {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #000;

        @media (max-width: $md3+px) {
            height: 480px;
            top: auto;
            bottom: 0;
        }

        &:before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            height: 311px;
            width: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
            z-index: 3;
        }

        & .swiper-slide {
            opacity: 0 !important;

            &.swiper-slide-active {
                opacity: 1 !important;
            }
        }
    }

    &__body {
        color: $textLightColor;
        min-height: 610px;

        @media (max-width: $md3+px) {
            min-height: 456px;
            background: linear-gradient(180deg, #29322f 63.15%, rgba(38, 48, 43, 0) 100%);
            padding-top: 37px;
            padding-bottom: 0;
            overflow: visible;
        }

        & .swiper-slide {
            position: relative;
            & .container-md {
                @media (max-width: $md2+px) {
                    padding-left: 65px;
                    padding-right: 65px;
                }
                @media (max-width: $md3+px) {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }

    &__text {
        max-width: 617px;
        margin-bottom: 27px;

        @media (max-width: $md2+px) {
            max-width: 430px;
            line-height: 120%;
            margin-bottom: 25px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 13px;
        }
    }

    &__name {
        font-weight: 600;
        font-size: 23px;
        line-height: 1.26em;
        margin-bottom: 28px;

        @media (max-width: $md2+px) {
            font-size: 26px;
            line-height: 33px;
            margin-bottom: 70px;
        }

        @media (max-width: $md3+px) {
            font-size: 24px;
            margin-bottom: 33px;
        }
    }

    &__play {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.28em;
        text-transform: uppercase;
        color: $textLightColor;
        transition: all 0.3s ease;
        margin-bottom: 37px;

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor2;
            }
        }

        @media (max-width: $md2+px) {
            font-size: 26px;
        }
        @media (max-width: $md3+px) {
            font-size: 24px;
        }

        & .play-icon {
            flex: 0 0 auto;
            margin-right: 22px;

            @media (max-width: $md2+px) {
                margin-right: 31px;
            }

            @media (max-width: $md3+px) {
                margin-right: 13px;
            }
        }

        & > span {
            margin-top: -4px;
        }
    }

    &__btn-group {
        margin-left: -16px;

        & .slider-btn {
            @media (max-width: $md2+px) {
                position: absolute;
                z-index: 3;
                top: 47%;
                transform: translateY(-50%);

                & img {
                    display: none;
                }

                &:before {
                    content: "";
                    width: 17px;
                    height: 43px;
                }
            }

            @media (max-width: $md3+px) {
                position: static;
                transform: translateY(0);

                & img {
                    display: block;
                }

                &:before {
                    display: none;
                }
            }
        }

        & > span {
            @media (max-width: $md2+px) {
                display: none;
            }

            @media (max-width: $md3+px) {
                display: block;
            }
        }

        @media (max-width: $md3+px) {
            justify-content: center;
            position: absolute;
            left: 0;
            width: 100%;
            bottom: -163px;
            margin-left: 0;

            & > span {
                margin: 0 19px;
            }
        }
    }

    &__btn-prev {
        left: 13px;

        &:before {
            background: url("../img/icons/arrow-left.svg") center no-repeat;
        }
    }

    &__btn-next {
        right: 13px;
        &:before {
            background: url("../img/icons/arrow-right.svg") center no-repeat;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #000;

        @media (max-width: $md3+px) {
            height: 455px;
            position: relative;
            z-index: 1;
        }

        @media (min-width: 768px) {
            &:before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                height: 311px;
                width: 100%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
                z-index: 3;
            }
        }
    }
}
