.text-intro-block {
    margin-bottom: 140px;

    @media (min-width: 768px) {
        margin-bottom: 94px;
    }

    @media (min-width: 992px) {
        margin-bottom: 100.5px;
    }

    &.text-intro-block_v2 {
        @media (min-width: 992px) {
            padding-top: 80px;
            overflow: hidden;
        }

        & .text-intro-block__img {
            height: 637px;
            margin-bottom: 10px;

            @media (min-width: 992px) {
                margin-right: 61px;
                width: 560px;
                &:before {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    right: 218px;
                    z-index: -1;
                    width: 3000px;
                    height: 1000px;
                    background: #ebebeb;
                }
            }

            @media (max-width: $md2+px) {
                height: 490px;
                margin: 0 0 52px;
                & img {
                    left: 50%;
                    width: 100vw;
                    transform: translateX(-50%);
                }
            }

            @media (max-width: $md3+px) {
                width: 100%;
                height: 442px;
            }
        }

        & .text-intro-block__body {
            @media (max-width: $md2+px) {
                display: block;
                text-align: center;
            }

            &.container-sm {
                max-width: 1309px;
            }

            & h2 {
                @media (max-width: $md2+px) {
                    margin-bottom: 22px;
                }

                @media (max-width: $md3+px) {
                    font-size: 42px;
                    line-height: 48px;
                }
            }

            & p {
                padding-right: 27px;

                @media (max-width: $md3+px) {
                    padding-right: 7px;
                }
            }
        }

        & + .text-block {
            & > .container-md {
                max-width: 1245px;
            }

            & .text-block__text {
                margin-bottom: 57px;

                @media (max-width: $md2+px) {
                    & p {
                        padding: 0 10px;
                    }
                }
            }
        }
    }

    &__body {
        padding-top: 1px;
        display: flex;
        flex-direction: column;

        &.container-sm {
            max-width: 1272px;
        }
        @media (min-width: 992px) {
            min-height: 649px;
            display: block;
        }

        & h2 {
            color: $mainColor2;
            margin-bottom: 26px;
        }

        & h4 {
            @media (min-width: 992px) {
                margin-top: 17px;
                padding-right: 14px;
            }

            @media (max-width: $md3+px) {
                padding-right: 3px;
            }
        }

        & p {
            margin-bottom: 1.43em;
            @media (min-width: 992px) {
                padding-right: 36px;
            }

            @media (max-width: $md3+px) {
                padding-right: 7px;
            }
        }
    }

    &__img {
        width: 550px;
        height: 649px;

        @media (min-width: 992px) {
            margin-right: 64px;
            float: left;
        }

        @media (max-width: $md2+px) {
            order: 1;
            margin: 0 -5px;
            width: 100%;
            height: 624px;
            margin-top: 36px;
        }

        @media (max-width: $md3+px) {
            height: 552px;
            width: 100vw;
            margin-left: -25px;
        }
    }

    &__label {
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 39px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 136px;
        width: 136px;
        border-radius: 50%;
        color: $textLightColor;
        background-color: $mainColor2;
        padding: 10px;
        transform: translateX(-52%);

        @media (max-width: $md2+px) {
            transform: translateX(-17%);
            bottom: -38px;
        }

        @media (max-width: $md3+px) {
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 44%);
        }

        & p {
            margin-bottom: 0;
            text-transform: uppercase;
            font-family: $titleFontFamily;
            padding-right: 0 !important;

            &:nth-child(1) {
                font-size: 17px;
                line-height: 1em;
            }
            &:nth-child(2) {
                font-size: 75px;
                line-height: 55px;
            }
            &:nth-child(3) {
                font-size: 26px;
                line-height: 1em;
            }
        }
    }

    &__bottom {
        text-align: center;

        & .btn-default {
            min-width: 340px;
        }
    }
}
