

//<ШРИФТЫ>===========================================================================================================
$mainFontFamily:  "FuturaPT", serif;
$titleFontFamily: "Unna", sans-serif;
//</ШРИФТЫ>===========================================================================================================

//<РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: 1267.98;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</РАЗМЕРЫ КОНТЕЙНЕРА>===========================================================================================================

$textColor: #48494B;
$textLightColor: #fff;
$mainColor: #B91216;
$mainColor2: #AD7D45;
