@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== FONTS ===========================================================================================
@import "fonts";
// ==== // FONTS ===========================================================================================

// ==== VARS ===========================================================================================
@import "vars";
// ==== // VARS ===========================================================================================

// ==== Normalize ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<MIXINE>===============================================================================================
@import "mixins.scss";
//</MIXINE>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== PLAGINS ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // PLAGINS ===========================================================================================

// ==== FORM STYLE DEFAULT ===========================================================================================
@import "forms";
// ==== FORM STYLE DEFAULT ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
@import "../common/popup/popup";
// ==== // POPUP ===========================================================================================

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
	height: 100%;
}
html,
body {
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 22px;
	transition: opacity 0.8s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100%;

	&.lock {
		overflow: hidden;
	}

	&.is-load {
		& ._preload-body {
			opacity: 0;
			visibility: hidden;

			&:before {
				display: none;
			}
		}
	}
}

._preload-body {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	transition: all 0.6s ease 0.2s;

	&:before {
		position: absolute;
		content: "";
		z-index: 999;
		top: 50%;
		left: 50%;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		border: 4px solid #6e6e6e;
		border-right: 4px solid #fff;
		transform: translate(-50%, -50%);
		animation: preloadBody 2s linear infinite;
	}
}

@keyframes preloadBody {
	from {
		transform: translate(-50%, -50%) rotate(0);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.center {
	text-align: center;
}

._page {
	flex: 1 1 auto;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 20px;
}
.container-lg {
	max-width: 1430px;
	margin: 0 auto;
	padding: 0 50px;

	@media (max-width: $md4+px) {
		padding-left: 25px;
		padding-right: 25px;
	}
}
.container-md {
	max-width: 1355px;
	margin: 0 auto;
	padding: 0 50px;

	@media (max-width: $md4+px) {
		padding-left: 25px;
		padding-right: 25px;
	}
}
.container-sm {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;

	@media (max-width: $md4+px) {
		padding-left: 25px;
		padding-right: 25px;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

// === title ========================================================================
.title-1 {
}
.title-2 {
	font-family: $titleFontFamily;
	font-weight: 400;
	font-size: 72px;
	line-height: 1.22em;
	display: flex;
	flex-direction: column;

	& > strong {
		font-weight: 400;
	}

	@media (max-width: $md2+px) {
		font-size: 51px;
		line-height: 1.17em;
	}
	@media (max-width: $md3+px) {
		font-size: 42px;
	}
}

.title-3 {
	font-family: $titleFontFamily;
	font-weight: 400;
	font-size: 51px;
	line-height: 1.16em;
	text-transform: capitalize;
	display: flex;
	flex-direction: column;

	& > strong {
		font-weight: 400;
	}

	@media (max-width: $md2+px) {
		font-size: 42px;
		line-height: 120%;
	}
	@media (max-width: $md3+px) {
		font-size: 30px;
		line-height: 118%;
	}
}

.title-4 {
}

.title-5 {
}
.title-6 {
}

.suptitle {
}
.subtitle {
}

.text {
}
// === and title ========================================================================

// === btn ========================================================================
.btn-default {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: $mainColor;
	transition: all 0.3s ease;
	min-height: 60px;
	min-width: 210px;
	padding: 10px 20px;
	color: $textLightColor;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	text-transform: uppercase;

	@media (max-width: $md3+px) {
		font-size: 18px;
		line-height: 23px;
		min-height: 54px;
	}

	@media (min-width: 992px) {
		&:hover {
			background-color: $mainColor2;
		}
	}
}

button.btn-default {
}

.slider-group-btn {
	display: flex;
	align-items: center;

	& > span {
		font-size: 0;
		display: block;
		height: 32px;
		width: 1px;
		background-color: $textLightColor;
		margin: 0 15px;

		@media (min-width: 992px) {
			height: 42px;
			margin: 0 24px;
		}

		@media (max-width: $md3+px) {
			margin: 0 3px;
		}
	}
}

.slider-btn {
	height: 40px;
	flex: 0 0 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (min-width: 992px) {
		height: 60px;
		flex: 0 0 60px;
		transition: all 0.3s ease;
		cursor: pointer;

		@media (min-width: 992px) {
			&:hover {
				background-color: rgba($mainColor2, 0.3);
			}
		}

		& img {
			width: 17px;
		}
	}
}

.play-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 88px;
	width: 88px;
	border-radius: 50%;
	background-color: $mainColor;
	transition: all 0.3s ease;
	padding: 15px 15px 15px 9px;

	@media (max-width: $md2+px) {
		height: 72px;
		width: 72px;
	}
	@media (max-width: $md3+px) {
		height: 50px;
		width: 50px;
	}

	@media (min-width: 992px) {
		&:hover {
			transform: scale(1.06);
		}
	}

	& img,
	& svg {
		margin-left: 17px;
		max-width: 100%;
		max-height: 100%;
		width: auto;
		height: auto;
		pointer-events: none;
	}
}

// === and btn ========================================================================

.input {
	display: flex;
	width: 100%;
	align-items: center;
	min-height: 65px;
	background-color: #fff;
	padding: 10px 27px;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 500;

	@media (max-width: $md2+px) {
		background: #f5f0e9;
		min-height: 58px;
	}

	@media (max-width: $md3+px) {
		min-height: 58px;
	}
}

.textarea {
	display: flex;
	width: 100%;
	align-items: center;
	height: 203px;
	background-color: #fff;
	padding: 22px 27px;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-weight: 500;
	resize: none;

	@media (max-width: $md2+px) {
		background: #f5f0e9;
		height: 168px;
		padding: 17px 27px;
	}

	@media (max-width: $md3+px) {
		height: 168px;
	}
}

.link {
}

.social {
	display: flex;
	flex-wrap: wrap;

	& > li {
		flex: 0 0 auto;
		margin-right: 10px;
		margin-bottom: 10px;

		& > a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 28px;
			width: 28px;
			border-radius: 50%;
			background-color: #fff;
			transition: all 0.3s ease;

			@media (min-width: 992px) {
				&:hover {
					background-color: $mainColor2;
				}
			}
		}
	}
}

// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-size: 22px;
	line-height: 152%;
	font-family: $mainFontFamily;

	@media (max-width: $md3+px) {
		font-size: 18px;
	}

	& h1 {
	}
	& h2 {
		font-family: $titleFontFamily;
		font-weight: 400;
		font-size: 65px;
		line-height: 75px;
		color: #000000;
		margin-bottom: 14px;

		@media (max-width: $md2+px) {
			font-size: 51px;
			line-height: 59px;
			margin-bottom: 30px;
		}
	}
	& h3 {
		font-family: $titleFontFamily;
		font-weight: 400;
		font-size: 51px;
		line-height: 59px;
		color: $mainColor2;
		margin-bottom: 11px;
		text-transform: capitalize;

		@media (min-width: 992px) {
			display: flex;
			flex-direction: column;
		}

		& > strong {
			font-weight: 400;
		}

		@media (max-width: $md3+px) {
			font-size: 42px;
			line-height: 48px;
		}
	}
	& h4 {
		font-family: $titleFontFamily;
		font-weight: 400;
		font-size: 26px;
		line-height: 131%;
		color: $mainColor2;
		text-transform: capitalize;
		margin-bottom: 36px;

		@media (min-width: 768px) {
			margin-bottom: 28px;
			font-size: 30px;
			line-height: 124%;
			text-transform: none;
			margin-bottom: 11px;
		}
		@media (min-width: 992px) {
			margin-bottom: 25px;
			font-size: 42px;
			line-height: 120%;
			text-transform: capitalize;
		}
	}

	& h5 {
	}
	& h6 {
	}

	& .suptitle {
		font-weight: 600;
		font-size: 24px;
		line-height: 31px;
		text-transform: uppercase;
		color: $mainColor2;
		margin-top: 9px;
		margin-bottom: -2px;

		@media (max-width: $md2+px) {
			font-size: 26px;
			line-height: 33px;
		}

		@media (max-width: $md3+px) {
			font-size: 24px;
			line-height: 31px;
		}
	}

	& p {
		margin-bottom: 0.7em;

		& ~ h4 {
			margin-top: 41px;

			@media (max-width: $md2+px) {
				margin-top: 27px;
			}
			@media (max-width: $md3+px) {
				margin-top: 37px;
			}
		}
	}

	& q {
		display: block;
		padding-left: 16px;
		position: relative;
		font-family: $titleFontFamily;
		font-style: normal;
		font-weight: normal;
		font-size: 26px;
		line-height: 130%;
		color: $mainColor2;
		margin-bottom: 32px;
		max-width: 706px;
		margin-left: 4px;

		@media (max-width: $md2+px) {
			font-size: 30px;
			line-height: 124%;
			margin-left: 3px;
			padding-left: 21px;
		}

		@media (max-width: $md3+px) {
			font-size: 26px;
			line-height: 130%;
		}

		&:before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			height: 100%;
			width: 3px;
			background-color: $mainColor2;
		}
	}

	& ul {
		margin-bottom: 22px;

		@media (max-width: $md2+px) {
			margin-bottom: 20px;
		}

		@media (max-width: $md3+px) {
			margin-bottom: 50px;
		}
		& > li {
			position: relative;
			padding-left: 68px;
			line-height: 140%;

			@media (max-width: $md2+px) {
				padding-left: 26px;
			}

			&:not(:last-child) {
				margin-bottom: 6px;

				@media (max-width: $md2+px) {
					margin-bottom: 2px;
				}
				@media (max-width: $md3+px) {
					margin-bottom: 31px;
				}
			}

			&:before {
				position: absolute;
				content: "";
				top: 13px;
				left: 43px;
				height: 10px;
				width: 10px;
				border-radius: 50%;
				background-color: $mainColor2;

				@media (max-width: $md2+px) {
					top: 15px;
					left: 1px;
				}
				@media (max-width: $md3+px) {
					top: 7px;
				}
			}
		}
	}

	& ol {
	}

	& figure {
	}

	& hr {
		display: block;
		width: 89px;
		height: 3px;
		background-color: $mainColor;
		margin-bottom: 30px;
		display: inline-block;

		@media (min-width: 768px) {
			margin-bottom: 23px;
		}
		@media (min-width: 992px) {
			margin-bottom: 25px;
		}

		& + p {
			@media (min-width: 992px) {
				margin-top: -10px;
			}
		}
	}

	& .col-2 {
		@media (min-width: 992px) {
			text-align: left;
			column-count: 2;
			column-gap: 36px;
		}

		@media (max-width: $md3+px) {
			text-align: left;
		}
	}
}
// === and TEXT CONTETN BLOCK ========================================================================

// ==== BLOCKS =====================================================
@import "../common/header/header";
@import "../common/footer/footer";
@import "../common/checkbox/checkbox";
@import "../common/result/result";
@import "../common/testimonial/testimonial";
@import "../common/text-block/text-block";
@import "../common/main-form/main-form";
@import "../common/testimonial-text/testimonial-text";
@import "../common/rating/rating";
@import "../common/hero/hero";
@import "../common/text-intro-block/text-intro-block";
@import "../common/result-v2/result-v2";
@import "../common/info-block/info-block";
@import "../common/questions-block/questions-block";
@import "../common/related-pages/related-pages";
// ==== BLOCKS =====================================================

// ==== PAGES =====================================================

@import "pages/home";
@import "pages/about";
@import "pages/result";
@import "pages/reviews";
@import "pages/practice-list";
@import "pages/practice-detail";
@import "pages/attorneys";
@import "pages/attorneys-detail";

// ==== AND PAGES =====================================================
