.partners {
    background: #181818;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    @media (max-width: $md2+px) {
        min-height: 157px;
    }

    & .container-md {
        width: 100%;
    }

    &__list {
        @media (min-width: 768px) {
            & .swiper-wrapper {
                align-items: center;
            }

            & .swiper-slide {
                flex: 0 1 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                & img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        @media (max-width: $md3+px) {
            overflow: visible;
            & .swiper-slide {
                width: 150px;
            }
        }
    }
}

.footer {
    background-color: #000;
    padding-bottom: 67px;

    @media (max-width: $md2+px) {
        padding-bottom: 30px;
    }

    &__body {
        color: $textLightColor;
    }

    &__row-1 {
        padding-top: 44px;
        margin-bottom: 31px;
        

        @media (min-width: 992px) {
            padding-top: 86px;
            display: flex;
            margin-bottom: 44px;
        }


    }

    &__col-1 {
        flex: 1 1 auto;
        max-width: 589px;

        @media (max-width: $md2+px) {
            display: none;
        }
    }

    &__col-2 {
        @media (min-width: 992px) {
            flex: 1 1 auto;
            max-width: 541px;    
        }
    }

    &__col-3 {
        @media (min-width: 992px) {
            flex: 1 1 auto;
            max-width: 170px;
        }

        @media (max-width: $md2+px) {
            & .social {
                justify-content: center;
            }
        }

    }

    &__row-2 {
        margin-bottom: 43px;

        @media (max-width: 575.98px) {
            margin-bottom: 25px;
        }
    }

    &__row-3 {
        text-align: center;
        color: rgba($textLightColor, 0.6);
        text-align: center;
        font-size: 16px;
        line-height: 1.375em;

        & p {
            margin-bottom: 0em;

            &:last-child {
                @media (min-width: 992px) {
                    margin-top: 30px;
                }
            }

            @media (max-width: $md2+px) {
                margin-bottom: 1em;
            }
        }

        & a {
            color: rgba($textLightColor, 0.6);
            transition: all .3s ease;

            @media (min-width: 992px) {
                &:hover {
                    color: $textLightColor;
                }
            }
        }
    }

    &__title {
        font-family: $titleFontFamily;
        font-size: 26px;
        line-height: 1.2em;
        text-transform: capitalize;
        color: $textLightColor;
        transition: all 0.3s ease;
        display: block;
        margin-bottom: 13px;

        @media (max-width: $md2+px) {
            text-align: center;
        }
    }

    & a.footer__title {
        @media (min-width: 992px) {
            &:hover {
                color: $mainColor2;
            }
        }
    }

    &__list {
        @media (max-width: $md2+px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 36px;

            & > li {
                &:not(:last-child) {
                    margin-right: 30px;

                    @media (max-width: 575.98px) {
                        margin-right: 0;
                    }
                }
            }

            @media (max-width: 575.98px) {
                display: block;
                text-align: center;
            }
        }
    }

    &__list-link {
        font-size: 20px;
        line-height: 1.5em;
        text-transform: capitalize;
        color: $textLightColor;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor2;
            }
        }

        @media (max-width: 575.98px) {
            font-size: 18px;
        }
    }
}

.footer-location {
    max-width: 1100px;
    padding: 0 !important;

    @media (max-width: 575.98px) {
       padding-left: 33px !important;
       padding-right: 33px !important;
    }

    &__title {
        text-align: center;
        font-family: $titleFontFamily;
        font-size: 42px;
        line-height: 120%;
        text-transform: capitalize;
        color: $textLightColor;
        margin-bottom: 40px;

        @media (max-width: 575.98px) {
            margin-bottom: 32px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;

        @media (max-width: $md2+px) {
            justify-content: space-between;
        }

        & > li {
            flex: 0 1 25%;
            padding: 0 10px;
            margin-bottom: 25px;

            @media (max-width: $md2+px) {
                flex: 0 1 50%;
                max-width: 320px;
            }

            @media (max-width: 575.98px) {
                flex: 0 1 100%;
                max-width: none;
            }
        }
    }
}

.footer-location-card {
    display: block;
    color: $textLightColor;

    @media (min-width: 992px) {
        &:hover {
            & .footer-location-card__title {
                color: $mainColor2;
            }
        }
    }

    &__img {
        height: 160px;
        margin-bottom: 10px;
    }

    &__title {
        transition: all 0.3s ease;
        font-family: $titleFontFamily;
        font-size: 26px;
        line-height: 1.2em;
        text-transform: capitalize;
        margin-bottom: 13px;

        @media (max-width: $md2+px) {
            padding: 0 17px;
        }

        @media (max-width: 575.98px) {
            padding: 0;
        }
    }

    &__text {
        font-size: 16px;
        line-height: 1.3em;
        text-transform: capitalize;

        @media (max-width: $md2+px) {
            padding: 0 17px;
        }
        @media (max-width: 575.98px) {
            padding: 0;
        }
    }
}
