.blog-page {
    & .hero {
        margin-bottom: 30px;

        @media (max-width: $md3+px) {
            margin-bottom: 3px;
        }
        & .hero__title {
            margin-bottom: 7px;

            @media (max-width: $md2+px) {
                margin-bottom: 11px;
            }

            @media (max-width: $md3+px) {
                margin-bottom: 6px;
            }
        }
        & .hero__body {
            padding-bottom: 32px;

            @media (max-width: $md2+px) {
                padding-bottom: 29px;
            }
        }
    }

    & > .text-block {
        margin-bottom: 19px;

        @media (max-width: $md3+px) {
            margin-bottom: -8px;
        }

        & .text-block__title {
            margin-bottom: 15px;

            @media (max-width: $md2+px) {
                font-size: 51px;
                line-height: 59px;
            }

            @media (max-width: $md3+px) {
                font-size: 42px;
                line-height: 48px;
                padding: 0 6px;
                margin-bottom: 13px;
            }
        }

        & .text-block__text {
            margin-bottom: 45px;

            @media (max-width: $md3+px) {
                margin-bottom: 29px;
            }
        }

        & .btn-default {
            min-width: 331px;

            @media (max-width: $md3+px) {
                min-width: 280px;
            }
        }
    }
}

.blog-list {
    margin-bottom: 79px;
    max-width: 1920px;
    &.container-md {
        padding: 0 0px !important;
    }

    @media (max-width: $md2+px) {
        margin-bottom: 59px;
    }

    @media (max-width: $md3+px) {
        margin-bottom: 56px;
    }

    &__body {
        margin-bottom: -21px;

        @media (min-width: 992px) {
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
        }

        @media (max-width: $md2+px) {
            margin-bottom: 40px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 73px;
        }
    }

    &__item {
        flex: 0 1 calc(50% - 1px);
        margin-bottom: 80px;

        @media (max-width: $md3+px) {
            margin-bottom: 60px;

        }

    }

    &__bottom {
        text-align: center;

        & .btn-default {
            min-width: 241px;

            @media (max-width: $md2+px) {
                min-width: 210px;
            }
            @media (max-width: $md3+px) {
                min-width: 280px;
            }
        }
    }
}

.blog-list-card {
    display: block;
    color: $textColor;

    &__img {
        height: 444px;
        margin-bottom: 25px;
        position: relative;

        @media (max-width: $md3+px) {
            margin-bottom: 20px;
        }
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__date,
    &__title,
    &__text {
        padding-left: 29px;
        padding-right: 29px;

        @media (max-width: $md2+px) {
            padding: 0 24px;
        }

        @media (max-width: $md3+px) {
            padding: 0 20px;
        }
    }

    &__date {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 15px;

        @media (max-width: $md2+px) {
            margin-bottom: 9px;
            font-size: 18px;
            line-height: 150%;
        }
    }

    &__title {
        transition: all 0.3s ease;
        font-size: 28px;
        line-height: 36px;
        color: #000000;
        margin-bottom: 17px;
        max-width: 580px;

        @media (max-width: $md2+px) {
            max-width: 335px;
        }

        @media (max-width: $md3+px) {
            font-size: 26px;
            line-height: 33px;
            margin-bottom: 21px;
        }

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor2;
            }
        }
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        max-width: 556px;
        text-transform: capitalize;

        @media (max-width: $md2+px) {
            line-height: 120%;
            text-transform: none;
        }

        @media (max-width: $md3+px) {
            font-size: 18px;
            line-height: 150%;
        }
    }

    &__read-more {
        transition: all 0.3s ease;
        font-weight: 600;

        @media (min-width: 992px) {
            &:hover {
                text-decoration: underline;
            }
        }

    }
}
