.covid-page {
    & .hero {
        margin-bottom: 30px;

        @media (max-width: $md2+px) {
            margin-bottom: 16px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 0;
        }
    }
    & > .text-block {
        & .text-block__title {
            max-width: 918px;
            margin: 0 auto 21px;
            font-size: 51px;
            line-height: 59px;

            @media (max-width: $md2+px) {
                margin-bottom: 35px;
            }

            @media (max-width: $md3+px) {
                font-size: 42px;
                line-height: 48px;
                margin: 0 -4px 16px;
            }
        }

        @media (max-width: $md2+px) {
            padding-bottom: 0;

            & .text-block__text  {
                margin-bottom: 52px;
           }
        }
    }

    & > .video-block {
        margin-bottom: 60px;
        @media (max-width: $md2+px) {
            margin-bottom: 50px;
        }
        @media (max-width: $md3+px) {
            margin-bottom: 30px;
        }
        & .video-block__poster  {
            @media (max-width: $md2+px) {
                height: 464px;
            }
            @media (max-width: $md3+px) {
                height: 302px;
            }
        }
    }
}