.promo-header {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(#242424, 0.4);
        }

        


        @media (max-width: $md3+px) {
            &:after {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                height: 461px;
                width: 100%;
                z-index: 2;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 60.09%);
            }
        }
    }

    &__body {
        min-height: 722px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 54px;

        @media (max-width: $md3+px) {
            min-height: 662px;
        }

        & .btn-default {
            min-width: 300px;
            margin-bottom: 54px;
        }
    }

    &__title {
        font-family: $titleFontFamily;
        color: rgba($textLightColor, 0.5);
        font-size: 98px;
        line-height: 1.2em;
        font-weight: 700;
        margin-bottom: 52px;

        @media (max-width: $md3+px) {
            font-size: 60px;
            margin-bottom: auto;
            margin-top: auto;
        }
    }

    &__scroll {
        display: inline-flex;
        color: $textLightColor;
        flex-direction: column;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        align-items: center;
        transition: all .3s ease;

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor2;
            }
        }

        & img {
            width: 31px;
            height: auto;
            margin-top: 13px;
            animation: scrollAnim 2s ease infinite;
        }

        @keyframes scrollAnim {
            0% {transform: translateY(0);}
            50% {transform: translateY(20px);}
            100% {transform: translateY(0);}
        }
    }
}
