.home-page {
    & .text-block__text {
        max-width: 778px;

        @media (max-width: $md2+px) {
            max-width: 640px;
        }
    }
}
.promo-header {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &:before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(#242424, 0.4);
        }

        @media (max-width: $md3+px) {
            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                height: 461px;
                width: 100%;
                z-index: 2;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 60.09%);
            }
        }

        & video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        min-height: 722px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 54px;

        @media (max-width: $md3+px) {
            min-height: 662px;
            padding-bottom: 38px;
        }

        & .btn-default {
            min-width: 300px;
            margin-bottom: 54px;

            @media (max-width: $md2+px) {
                margin-bottom: 38px;
            }

            @media (max-width: $md3+px) {
                margin-bottom: 36px;
                min-height: 60px;
                font-size: 22px;
            }
        }
    }

    &__title {
        font-family: $titleFontFamily;
        color: rgba($textLightColor, 0.5);
        font-size: 98px;
        line-height: 1.2em;
        font-weight: 700;
        margin-bottom: 52px;

        @media (max-width: $md3+px) {
            font-size: 60px;
            margin-bottom: auto;
            margin-top: auto;
        }
    }

    &__scroll {
        display: inline-flex;
        color: $textLightColor;
        flex-direction: column;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.3em;
        text-transform: uppercase;
        align-items: center;
        transition: all 0.3s ease;

        @media (min-width: 992px) {
            &:hover {
                color: $mainColor2;
            }
        }

        & img {
            width: 31px;
            height: auto;
            margin-top: 13px;
            animation: scrollAnim 2s ease infinite;
        }

        @keyframes scrollAnim {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(20px);
            }
            100% {
                transform: translateY(0);
            }
        }
    }
}

.about-us-block {
        @media (max-width: $md3+px) {
            margin-bottom: 50px;
        }

    &__row-1 {
        position: relative;
        & .about-us-block__bg {
            @media (max-width: $md2+px) {
                overflow: hidden;

                &:before {
                    position: absolute;
                    content: "";
                    z-index: 2;
                    right: 0;
                    bottom: 0;
                    height: 68%;
                    width: 550px;
                    box-shadow: -358px 10px 170px rgba(#fff, 0.6);

                    transform: translate(100%, 23%);
                }
            }
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(89.99deg, #000000 35.96%, rgba(10, 28, 51, 0.2) 89.84%);

        @media (max-width: $md2+px) {
            background: #000;
        }
    }

    &__body {
        padding-top: 124px;
        padding-bottom: 100px;
        position: relative;
        z-index: 2;
        min-height: 804px;

        @media (max-width: $md2+px) {
            padding-top: 61px;
            min-height: auto;
            padding-bottom: 430px;
        }

        @media (max-width: $md3+px) {
            padding-bottom: 0;
            padding-top: 34px;


            &.container-md {
                padding-left: 38px;
                padding-right: 38px;
            }
        }
    }

    &__text-wrap {
        color: $textLightColor;
        position: relative;
        z-index: 2;

        @media (min-width: 992px) {
            max-width: 477px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 29px;
            text-align: center;

            & p {
                text-align: left;
            }

            & .btn-default {
                min-width: 175px;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 1.28em;
        text-transform: uppercase;
        color: $mainColor;
        margin-bottom: 17px;
        text-align: left;

        @media (max-width: $md2+px) {
            font-size: 26px;
            margin-bottom: 12px;
        }
        @media (max-width: $md3+px) {
            font-size: 24px;
            margin-bottom: 11px;
        }
    }

    &__text {
        margin-bottom: 32px;
        & p {
            &:first-child {
                color: $mainColor2;
            }
        }

        @media (max-width: $md2+px) {
            max-width: 700px;
            margin-bottom: 19px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 23px;
        }
    }

    &__img {
        position: absolute;
        right: -30px;
        bottom: 0;
        z-index: 1;
        width: 71%;

        & img {
            width: 100%;
            height: auto;
        }

        @media (max-width: $md2+px) {
            right: 15px;
            width: 83%;
        }

        @media (max-width: $md3+px) {
            position: static;
            width: 100%;
        }

        @media (max-width: $md4+px) {
            height: 381px;
            width: 110vw;
            margin-left: -74px;
            & img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__row-2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 0;

        @media (min-width: 992px) {
            padding-bottom: 10px;
            min-height: 828px;
            padding-bottom: 0;
        }

        @media (min-width: 768px) {
            min-height: 617px;
            padding-top: 43px;
            &:before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                width: 205px;
                background: linear-gradient(270deg, #000000 -30.24%, rgba(0, 0, 0, 0) 84.39%);
                z-index: 1;
                height: 100%;
            }
        }



        & .about-us-block__bg {
            &:before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: linear-gradient(73deg, #000000 -21.63%, #b91216 116.52%);
                mix-blend-mode: multiply;
            }

            @media (max-width: $md3+px) {
                display: none;
            }
        }

        & .container-lg {
            width: 100%;

            @media (max-width: $md2+px) {
                padding: 0 15px;
            }

            @media (max-width: $md3+px) {
                padding: 0;
            }
        }
    }

    &__slider {
        position: relative;
        z-index: 2;

        & .swiper-wrapper {
            @media (max-width: $md3+px) {
                display: block;
            }

            & ._toggleWrap {
                display: none;
            }
        }

        & .swiper-slide {
            text-align: center;
            padding: 0 20px;
            position: relative;

            @media (max-width: $md3+px) {
                height: 276px;
                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px 20px 26px;
            }

            // @media (min-width: 992px) {
            //     &:nth-child(1) {
            //         & .about-us-block__slide-icon  {
            //             height: 84px;
            //             margin-bottom: 87px;
            //         }
            //         & .about-us-block__slide-icon img {
            //             transform: translateX(-39px) translateY(18px);
            //         }

            //         & .about-us-block__slide-dots {
            //             transform: translateX(-46px);
            //         }

            //         & .about-us-block__slide-text {
            //             transform: translateX(-45px);
            //         }
            //     }
            //     &:nth-child(2) {
            //         & .about-us-block__slide-icon  {
            //             height: 124px;
            //             margin-bottom: 47px;
            //         }
            //         & .about-us-block__slide-icon img {
            //             transform: translateX(-9px) translateY(-5px);
            //         }

            //         & .about-us-block__slide-dots {
            //             transform: translateX(-9px);
            //         }

            //         & .about-us-block__slide-text {
            //             transform: translateX(-8px);
            //         }
            //     }
            //     &:nth-child(3) {
            //         & .about-us-block__slide-icon img {
            //             transform: translateX(16px);
            //         }

            //         & .about-us-block__slide-dots {
            //             transform: translateX(17px);
            //         }

            //         & .about-us-block__slide-text {
            //             transform: translateX(17px);
            //         }
            //     }
            // }
            // @media (min-width: 768px) {
            //     &:nth-child(1) {
            //         & .about-us-block__slide-icon  {
            //             height: 74px;
            //             margin-bottom: 97px;
            //         }
            //         & .about-us-block__slide-icon img {
            //             transform: translateX(-10px) translateY(18px);
            //         }

            //         & .about-us-block__slide-dots {
            //             transform: translateX(-9px);
            //         }

            //         & .about-us-block__slide-text {
            //             transform: translateX(-9px);
            //         }
            //     }
            //     &:nth-child(2) {
            //         & .about-us-block__slide-icon  {
            //             height: 104px;
            //             margin-bottom: 67px;
            //         }
            //         & .about-us-block__slide-icon img {
            //             transform: translateX(9px) translateY(4px);
            //         }

            //         & .about-us-block__slide-dots {
            //             transform: translateX(9px);
            //         }

            //         & .about-us-block__slide-text {
            //             transform: translateX(9px);
            //         }
            //     }
            //     &:nth-child(3) {
            //         & .about-us-block__slide-icon img {
            //             transform: translateX(13px);
            //         }

            //         & .about-us-block__slide-dots {
            //             transform: translateX(15px);
            //         }

            //         & .about-us-block__slide-text {
            //             transform: translateX(15px);
            //         }
            //     }
            // }
        }

    }

    &__slide-bg {
        @media (min-width: 768px) {
            display: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        

        &:before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(73deg, #000000 -21.63%, #b91216 116.52%);
            mix-blend-mode: multiply;
        }
    }

    &__slide-icon {
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 63px;

        @media (max-width: $md3+px) {
            height: 73px;
            margin-bottom: 23px;
        }

        & img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
        }
    }

    &__slide-dots {
        margin-bottom: 17px;

        @media (max-width: $md3+px) {
            margin-bottom: 7px;
        }
    }

    &__slide-text {
        font-weight: 600;
        font-size: 28px;
        line-height: 1.28em;
        text-transform: uppercase;
        color: $textLightColor;

        @media (max-width: $md2+px) {
            font-size: 26px;
        }
        @media (max-width: $md3+px) {
            font-size: 24px;
        }
    }

    &__slide-btn {
        position: absolute;
        z-index: 3;
        top: 52%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 0.3s ease;
        height: 52px;
        width: 52px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $textLightColor;
        
        @media (max-width: $md3+px) {
            display: none;
        }

        @media (min-width: 992px) {
            &:hover {
                background-color: rgba(#fff, 0.2);
            }
        }

        &.swiper-button-disabled {
            display: none;
        }
    }

    &__slide-btn-prev {
        left: 14px;
    }

    &__slide-btn-next {
        right: 14px;
    }

    &__mobile-btn {
        @media (min-width: 768px) {
            display: none !important;
        }

        &.btn-default {
            display: flex;
            margin: 0 auto;
            width: 100%;
            max-width: 280px;
            margin-top: 35px;
        }
    }
}
