.locations-datail-page {
    & .hero.hero_v2 {
        margin-bottom: 0;
    }

    & .text-intro-block {
        margin-bottom: 22px;

        @media (max-width: $md2+px) {
            margin-bottom: 0;
        }
    }

    & .text-block.text-block_v2 {
        margin-bottom: 0;
    }

    & .text-block.text-block_v3 {
        padding-top: 17px;

        & .text-content {
            
            @media (max-width: $md2+px) {
                text-align: center;

                & .col-2 {
                    text-align: left;
                }

                & h3 {
                    max-width: none;
                }
            }
        }
    }

    & .testimonial-text_v2 {
        & + .text-block {
            padding-top: 79px;
            margin-bottom: 0;
            padding-bottom: 36px;

            & .text-block__title {
                margin-bottom: 22px;
            }
    
            & .text-block__text  {
                &.text-content {
                    & p {
                        margin-bottom: 1.45em;
                    }
                }
            }

            @media (max-width: $md3+px) {
                padding: 39px 0 11px;

                & .text-block__title  {
                    margin-bottom: 20px;
                }

                & .text-block__text {
                    &.text-content {

                    }
                } 
                    
            }
        }


    }

    & .main-form {
        @media (max-width: $md3+px) {
            padding-bottom: 71px;
        }
        & .text-block__title  {
            @media (max-width: $md3+px) {
                margin-bottom: 28px;
            }
        }
        & .text-block__text {
            max-width: 750px;
    
            @media (max-width: $md2+px) {
                max-width: 616px;
            }
        }
    }
}
