.locations-datail-page {
    & .hero.hero_v2 {
        margin-bottom: 0;
    }

    & .text-intro-block {
        margin-bottom: 22px;

        @media (max-width: $md2+px) {
            margin-bottom: 0;
        }
    }

    & .text-block.text-block_v2 {
        margin-bottom: 0;
    }

    & .text-block.text-block_v3 {
        padding-top: 17px;

        & .text-content {
            
            @media (max-width: $md2+px) {
                text-align: center;

                & .col-2 {
                    text-align: left;
                }

                & h3 {
                    max-width: none;
                }
            }
        }
    }

    & .main-form {
        @media (max-width: $md3+px) {
            padding-bottom: 71px;
        }
        & .text-block__title  {
            @media (max-width: $md3+px) {
                margin-bottom: 28px;
            }
        }
        & .text-block__text {
            max-width: 750px;
    
            @media (max-width: $md2+px) {
                max-width: 616px;
            }
        }
    }
}
