.result {
    position: relative;
    padding: 104px 0 175px;

    @media (max-width: $md2+px) {
        padding: 58px 0 74px;
    }

    @media (max-width: $md3+px) {
        padding: 69px 0 74px;
    }

    &.result_v2 {
        @media (max-width: $md2+px) {
            padding-top: 119px;
            padding-bottom: 19px;
        }

        @media (max-width: $md3+px) {
            border-top: 3px solid #fff;
            padding-top: 66px;
            padding-bottom: 30px;
        }
        & .result__body {
            @media (min-width: 1268px) {
                transform: translateX(26px);
            }

            @media (max-width: $md2+px) {
                &.container-md {
                    padding: 0 46px;
                }
            }

            @media (max-width: $md3+px) {
                &.container-md {
                    padding: 0 40px;
                }
            }
        }
        & .result__bg img {
            display: none;
        }

        & .result__col-1 {
            @media (max-width: $md2+px) {
                text-align: left;
                margin-bottom: 60px;

                & .btn-default {
                    min-width: 257px;
                    min-height: 60px;
                    font-size: 22px;
                    line-height: 28px;
                }
            }

            @media (max-width: $md3+px) {
                text-align: center;
                margin-bottom: 81px;
            }
        }

        & .result__title {
            @media (max-width: $md2+px) {
                text-align: left;
                margin-bottom: 15px;
                font-weight: 600;
                font-size: 36px;
                line-height: 46px;
                letter-spacing: 2.5px;
            }

            @media (max-width: $md3+px) {
                font-weight: 500;
                font-size: 26px;
                line-height: 33px;
                letter-spacing: 0.2px;
                margin-bottom: 34px;
            }
        }

        & .result__flex-wrap {
            @media (max-width: $md2+px) {
                display: block;
            }
        }

        & .result__text {
            @media (max-width: $md2+px) {
                display: block;
                max-width: 722px;
                text-align: left;
                margin-bottom: 38px;
            }

            @media (max-width: $md3+px) {
                font-size: 42px;
                line-height: 48px;
                margin-bottom: 55px;
            }
        }

        & .result__slider {
            @media (max-width: $md2+px) {
                & .swiper-wrapper {
                    flex-wrap: wrap;
                }

                & .swiper-slide {
                    height: auto;
                    flex: 0 1 50%;
                    text-align: left;
                    margin-bottom: 125px;

                    &:nth-child(even) {
                        transform: translateX(17px);
                    }

                    &:nth-last-child(-n + 2) {
                        margin-bottom: 0;
                    }
                }
            }

            @media (max-width: $md3+px) {
                & .swiper-wrapper {
                    display: block;
                }

                & .swiper-slide {
                    text-align: center;
                    margin-bottom: 82px !important;

                    &:nth-child(even) {
                        transform: translateX(0px);
                    }

                    &:nth-child(3) {
                        margin-bottom: 112px !important;
                    }

                    &:last-child {
                        margin-bottom: 0 !important;
                    }
                }

                // &:nth-child(1) {
                //     transform: translateX(0px);
                // }

                // &:nth-child(4) {
                //     transform: translateX(0px);
                // }
            }
        }

        & .result__num {
            @media (max-width: $md2+px) {
                margin-bottom: 5px;
            }

            @media (max-width: $md3+px) {
                margin-bottom: 12px;
            }
        }

        & .result__btn-group {
            display: none;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #000;

        & img {
            @media (min-width: 992px) {
                opacity: 0;
            }
        }
    }

    &__body {
        color: $textLightColor;

        @media (max-width: $md3+px) {
            min-height: 485px;
        }

        & .btn-default {
            min-width: 261px;

            @media (max-width: $md2+px) {
                min-width: 280px;
                min-height: 54px;
                font-size: 18px;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 1.28em;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 77px;

        @media (max-width: $md2+px) {
            text-align: center;
            font-size: 36px;
            margin-bottom: 123px;
        }

        @media (max-width: $md3+px) {
            font-size: 26px;
            margin-bottom: 119px;
        }

        @media (min-width: 992px) {
            &:before {
                position: absolute;
                content: "";
                top: 50%;
                left: 0;
                transform: translate(calc(-100% - 30px), -50%);
                height: 3px;
                width: 90px;
                background-color: $mainColor;
            }
        }
    }

    &__flex-wrap {
        display: flex;

        @media (max-width: $md2+px) {
            flex-direction: column-reverse;
        }
    }

    &__col-1 {
        flex: 0 0 44.5%;
        padding-right: 30px;

        @media (max-width: $md1+px) {
            flex: 0 0 38%;
        }

        @media (max-width: $md2+px) {
            text-align: center;
            padding-right: 0;
            flex: 0 1 auto;
        }
    }

    &__col-2 {
        flex: 1 1 auto;
        min-width: 0;

        @media (min-width: 992px) {
            margin-top: -18px;
        }

        @media (max-width: $md3+px) {
            margin-bottom: 18px;
        }
    }

    &__text {
        max-width: 475px;
        margin-bottom: 51px;

        @media (max-width: $md2+px) {
            display: none;
        }
    }

    &__slider {
        margin-bottom: 33px;
        @media (min-width: 992px) {
            margin-bottom: 0;
            & .swiper-wrapper {
                display: grid;
                grid-template-columns: 47% 50%;
                column-gap: 5%;
                row-gap: 110px;
                margin-bottom: 67px;

                @media (max-width: $md3+px) {
                    margin-bottom: 16px;
                }
            }

            & .swiper-slide {
                height: auto;
                flex: 0 1 50%;
                text-align: left;

                &:nth-child(even) {
                    transform: translateX(-12px);
                }
            }
        }

        & .swiper-wrapper {
            @media (max-width: $md3+px) {
                margin-bottom: 16px;
            }
        }

        & .swiper-wrapper {
            margin-bottom: 67px;
        }

        & .swiper-slide {
            text-align: center;
        }
    }

    &__num {
        font-family: $titleFontFamily;
        font-size: 65px;
        line-height: 1.153em;
        margin-bottom: 2px;

        @media (max-width: $md2+px) {
            font-size: 76px;
            margin-bottom: 13px;
        }

        @media (max-width: $md3+px) {
            font-size: 65px;
            margin-bottom: 15px;
        }
    }

    &__label {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.29em;
        text-transform: uppercase;
        color: $mainColor;

        @media (max-width: $md2+px) {
            font-size: 26px;
        }
        @media (max-width: $md3+px) {
            font-size: 24px;
        }
    }

    &__btn-group {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: 992px) {
            display: none;
        }

        & > span {
            font-size: 0;
            display: block;
            height: 32px;
            width: 1px;
            background-color: $textLightColor;
            margin: 0 15px;
        }
    }

    &__btn {
        height: 40px;
        flex: 0 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn-prev {
    }

    &__btn-next {
    }
}
